.container {
    margin: auto;
    max-width: 750px;
  }
  
  .heading {
    color: rebeccapurple;
    margin: 3rem 0;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
.site-title {
    color: gray;
    margin: 3rem 0;
  }