.container {
  margin: auto;
  max-width: 800px;
}

main {
  padding: 0 0.5rem;
}

.heading {
  color: rgb(8, 83, 27);
  margin: 2rem 0;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: auto;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
  text-shadow: none;
  background-image: none;
  text-decoration: underline;
}

nav {
  text-align: center;
  margin: 0 auto;
  display: table;
}

.site-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}